# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
*.log.*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Optional npm cache directory
.npm/

# Build directories
dist/
build/
public/build/

# Temporary files
tmp/
temp/
